@charset "utf-8";
* { padding: 0; margin: auto; text-align: center  }
#cabecera { background-color: #fff0f0; }  
h1 { font: bold 1.5em arial; padding: 0.5em; }
#navegador { background-color: #663366; padding: 0.5em; }
#navegador li { margin: 0px 5px; padding: 0.1em 1em 0.5em 1em; 
           background-color: #9933cc; width: 12%;float: left;
           list-style-type: none; position: relative; }
#subseccion1, #subseccion2, #subseccion3, #subseccion4 
             { position: absolute; top: 100%; left: 0px;  
             background-color: #41338b; font:normal 0.8em arial;  
             padding: 0.2em 0.5em ; display: none; }				 
#navegador li:hover { background-color: #990033; }
#navegador li a:link, #navegador li a:visited { 
           color: #feffe4; text-decoration: none; }
#navegador li a:hover, #navegador li a:active { 
           color:#ffd7a9 ; text-decoration: none; }
.borrar { clear: both; }	

#principal h2 { font: bold 1.5em arial; padding: 0.5em }
#principal p { font: normal 0.9em arial; text-align: justify;
           text-indent: 3em; padding: 0.5em 2em; }
